<input class="form-control mb-2" type="text" placeholder="Add meg a film címét" disabled>
<input class="form-control mb-2" type="number" placeholder="Add meg a film évszámát" disabled>
<input class="form-control mb-2" type="text" placeholder="Add meg a film képét URL-ben" disabled>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault" disabled>
    <label class="form-check-label" for="switchCheckDefault">A filmet már megnéztem</label>
</div>

<!-- TODO: értékelés gombok létrehozása -->

<!-- <button class="btn btn-primary me-3" (click)="save()">
    <i class="bi bi-floppy"></i>
    Mentés
</button>

<button class="btn btn-outline-primary" routerLink="/list">
    Mégse
</button> -->